<?php 

{{ namespace is defined ? "namespace " ~ namespace ~ ";" : "" }}

{% block imports %}
{% endblock %}

/**
 * {{  className }}.
 */
class {{ className }}{{ extends is defined ? " extends " ~ extends : "" }}{{ implements is defined ? " implements " ~ implements: "" }}
{
{% block protectedVars %}
{% endblock %}

{% block constructor %}
{% endblock %}

{% block protectedVarsGetters %}
{% endblock %}

{% block functions %}
{% endblock %}
}
