{% extends "_base/common.php.twig" %}
{% block imports %}
use {{use}}\Command\CommandInterface;
{% endblock %}
{% block protectedVars %}
{% for var in vars %}
    /**
     * @var {{ var.type }}
     */
    protected ${{ var.name }};
{% endfor %}
{% endblock %}
{% block constructor %}
    /**
     * Constructor.
     *
{% for var in vars %}
     * @param {{ var.type }} ${{ var.name }}
{% endfor %}
     */
    public function __construct({{ arguments | join(', ') }})
    {
{% for var in vars %}
        $this->{{ var.name }} = ${{ var.name }};
{% endfor %}
    }
{% endblock %}
{% block protectedVarsGetters %}
{% for var in vars %}
    /**
     * @return {{ var.type }}
     */
{% if '|null' in var.type %}
    public function get{{var.name|ucfirst}}()
{% else %}
    public function get{{var.name|ucfirst}}() : {{ var.type }}
{% endif %}
    {
        return $this->{{var.name}};
    }

{% endfor %}
{% endblock %}
