{% extends "_base/common.php.twig" %}

{% block imports %}
use GuzzleHttp\Client;
use {{use}}\Command\{{directory}}\{{commandClass}};
use {{use}}\Handler\AbstractHandler;
use {{use}}\ORM;
use League\Tactician\CommandBus;
use mef\Config\ConfigInterface;
use mef\Db\Driver\DriverInterface;
use mef\Job\JobQueue\JobServerInterface;
use mef\TokenGenerator\UuidGenerator;
use Pimple\Container;
{% endblock %}
{% block protectedVars %}
    /**
     * @var mef\Db\Driver\DriverInterface Database Handle
     */
    protected $database;
    /**
     * @var {{use}}\ORM ORM Handle
     */
    protected $orm;
    /**
     * @var League\Tactician\CommandBus Bus of the app.
     */
    protected $bus;
    /**
     * @var mef\Config\ConfigInterface Application configuration.
     */
    protected $config;
    /**
     * @var \mef\TokenGenerator\UuidGenerator Uuid generator.
     */
    protected $uuidGenerator;
    /**
	 * @var GuzzleHttp\Client Guzzle client.
	 */
	protected $guzzle;
    /**
	 * @var mef\Job\JobQueue\JobServerInterface Job server.
	 */
	protected $jobServer;
{% endblock %}
{% block constructor %}
    /**
     * Constructs the handler
     *
     * @param mef\Db\Driver\DriverInterface         $database        Database Handle.
     * @param {{use}}\ORM                  $orm             ORM Handle.
     * @param League\Tactician\CommandBus           $bus             Command Bus.
     * @param mef\Config\ConfigInterface            $config          App configuration.
     * @param \mef\TokenGenerator\UuidGenerator     $uuidGenerator   Uuid generator.
     * @param GuzzleHttp\Client                     $guzzle          Guzzle client.
     * @param mef\Job\JobQueue\JobServerInterface   $jobServer       Job server
     */
    public function __construct(
        DriverInterface $database,
        ORM $orm,
        CommandBus $bus,
        ConfigInterface $config,
        UuidGenerator $uuidGenerator,
        Client $guzzle,
        JobServerInterface $jobServer)
    {
        $this->database = $database;
        $this->orm = $orm;
        $this->bus = $bus;
        $this->config = $config;
        $this->uuidGenerator = $uuidGenerator;
        $this->guzzle = $guzzle;
        $this->jobServer = $jobServer;
    }
{% endblock %}
{% block functions %}
    /**
     * Setup the handler with a container.
     *
     * @param \Pimple\Container $container Service Container
     * @return {{ className }} Handler
     */
    public static function fromContainer(Container $container) : {{ className }}
    {
        return new self(
            $container['database'],
            $container['orm'],
            $container['bus'],
            $container['config'],
            $container['uuid'],
            $container['guzzle'],
            $container['job-server']);
    }

    /**
     * Handles Command.
     *
     * @param {{commandClass}} $command Command to be handled
     * @return mixed
     */
    public function handleCommand({{commandClass}} $command) : mixed
    {
        throw new \Exception('Not implemented Handler');
    }
{% endblock %}
