{% extends "_base/common.php.twig" %}
{% block imports %}
use {{use}}\Command\{{directory}}\{{commandClass}};
use {{use}}\Handler\{{directory}}\{{handlerClass}};
use {{use}}\Handler\HandlerInterface;
use {{use}}\Test\Unit\AbstractUnitTest;
use {{use}}\CommandBus;
use GuzzleHttp\Client;
use GuzzleHttp\Handler\MockHandler;
use GuzzleHttp\HandlerStack;
use GuzzleHttp\Psr7\Response;
use mef\Http\ServerRequest;
use mef\Http\StringStream;
use mef\Config\CachedConfig;
use mef\Job\JobQueue\JobServer;
use mef\TokenGenerator\UuidGenerator;

{% endblock %}
{% block functions %}

    public function setUp()
    {
        parent::setUp();

        $this->services['data'] = [];

        $this->services['config'] = $this->getMockBuilder(CachedConfig::class)->disableOriginalConstructor()->getMock();

        $this->services['uuid'] = function()
        {
            $uuidGenerator = new UuidGenerator(UuidGenerator::RAW_FORMAT);
            return $uuidGenerator;
        };

        $this->services['guzzle'] = function ()
        {
            // Override guzzle service to always return valid data
            $mock = new MockHandler([
                new Response(200, [], '{"data":{"uuid":"some-uuid"}}'),
            ]);
            $handler = HandlerStack::create($mock);
            return new Client(['handler' => $handler]);
        };

        $this->services['job-server'] = function()
        {
            $jobServer = $this->getMockBuilder(JobServer::class)->disableOriginalConstructor()->getMock();
            $jobServer->method('enqueue')->willReturn('job-id');
            return $jobServer;
        };
    }

    /**
     * Test instantiation of handler with factory method.
     *
     * @covers ::fromContainer
     * @covers ::__construct
     */
    public function testFactoryMethod()
    {
        $handler = {{handlerClass}}::fromContainer($this->services);

        $this->assertInstanceOf(HandlerInterface::class, $handler);
        $this->assertInstanceOf({{handlerClass}}::class, $handler);
    }

    /**
     * Tests the construction of the handler.
     *
     * @covers ::__construct
     */
    public function testConstructorSuccess()
    {
        $handler = new {{handlerClass}}(
            $this->services['database'],
            $this->services['orm'],
            $this->services['bus'],
            $this->services['config'],
            $this->services['uuid'],
            $this->services['guzzle'],
            $this->services['job-server']);

        $this->assertInstanceOf(HandlerInterface::class, $handler);
        $this->assertInstanceOf({{handlerClass}}::class, $handler);
    }

    public function testHandleCommandSuccess()
    {
        $data = [
          [['id' => 1]],
        ];

        $this->services['data'] = $data;

        $this->services['config'] = $this->getMockBuilder(CachedConfig::class)
            ->disableOriginalConstructor()
            ->setMethods(['get'])
            ->getMock();

        $this->services['config']/*->expects($this->atLeastOnce())*/
            ->method('get')
            ->with($this->stringContains('some string'))
            ->will($this->returnValue('some value'));

        $bus = $this->getMockBuilder(CommandBus::class)
            ->disableOriginalConstructor()
            ->setMethods(array('getMethodName'))
            ->getMock();

        $bus/*->expects($this->atLeastOnce())*/
            ->method('getMethodName')
            ->will($this->returnValue([
                'some' => 'data'
            ]));

        $handler = new {{handlerClass}}(
            $this->services['database'],
            $this->services['orm'],
            $bus,
            $this->services['config'],
            $this->services['uuid'],
            $this->services['guzzle'],
            $this->services['job-server']);

        $command = $this->getMock({{commandClass}}::class, ['getMethodName'], [], '', false);
        $command/*->expects($this->atLeastOnce())*/
            ->method('getMethodName')
            ->will($this->returnValue($data));

        $response = $handler->handleCommand($command);
        //$this->assertArrayHasKey('some_key', $response);
    }

    /**
     * Test handleCommand method fails b/c the identity does not exist.
     *
     * @covers ::handleCommand
      * @covers ::__construct
     *
     * @uses {{use}}\ActiveRecord
     * @uses {{use}}\Exception\ResourceNotFoundException
     *
     * @expectedException {{namespace}}\Exception\ResourceNotFoundException
     */
    public function testHandleCommandFailure()
    {
        $this->services['data'] = [];

        $handler = new {{handlerClass}}(
            $this->services['database'],
            $this->services['orm'],
            $this->services['bus'],
            $this->services['config'],
            $this->services['uuid'],
            $this->services['guzzle'],
            $this->services['job-server']);

        $command = $this->getMock({{commandClass}}::class, ['getMethodName'], [], '', false);

        $handler->handleCommand($command);
    }
{% endblock %}
