{% extends "_base/common.php.twig" %}
{% block imports %}
use {{use}}\Command\{{directory}}\{{commandClass}};
use {{use}}\Command\CommandInterface;
use {{use}}\Test\Unit\AbstractUnitTest;
{% endblock %}
{% block functions %}
    public function setUp()
    {
        parent::setUp();

{%if vars | length > 0%}
{% for var in vars %}
{% set type = var.type|replace({'|null': ''}) %}
{% if type == 'int' %}
        $this->{{var.name}} = 1;
{% elseif type == 'string' %}
        $this->{{var.name}} = '{{var.name}}';
{% elseif type == 'array' %}
        $this->{{var.name}} = ['{{var.name}}'];
{% elseif type == 'bool' or var.type == 'boolean' %}
        $this->{{var.name}} = true;
{% elseif type == 'float' %}
        $this->{{var.name}} = 1.0;
{% else %}
        $this->{{var.name}} = new {{type}}();
{% endif %}
{% endfor %}
{% endif %}
    }

    /**
     * Tests the construction of the command.
     *
     * @covers ::__construct
     */
    public function testConstructor()
    {
{%if vars | length > 0%}
{% set params = '' %}
{% for var in vars %}
{% set params = params ~ '$this->' ~ var.name ~ ', ' %}
{% endfor %}
        $command = new {{commandClass}}({{params|slice(0, params|length -2)}});
{% else%}
        $command = new {{commandClass}}();
{% endif %}

        $this->assertInstanceOf(CommandInterface::class, $command);

        return $command;
    }

    /**
     * Test getters.
     *
{% for var in vars %}
     * @covers ::get{{var.name|ucfirst}}
{% endfor %}
     *
     * @depends testConstructor
     */
     public function testGetters({{commandClass}} $command)
     {
{% for var in vars %}
        $this->assertEquals($this->{{var.name}}, $command->get{{var.name|ucfirst}}());
{% endfor %}
    }
{% endblock %}
